/*Characters y charactercard*/
.Characters{
    height: max-content;
    padding-top: 6em;
    background-color: rgb(12, 2, 33) ;
    
}
#pokedex{
    display: inline;
    margin-top: 1%;
    padding-left: 2em;
    font-size: 4em;
    height: 2em;
    text-align: left;
    margin-left: 0%;

}
h1{
    font-size:xx-large;
    text-align: left;
    color: white;    
    margin-top: 0%;
}
.welcome-message{
    display: inline;
    padding-left: 8em;
    color: white;
}
.pokemons-list{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 85%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:flex-start;
    list-style: none;
}
.Pagination{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 4em;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: space-between;
}
.ol{
    border-radius: 15px;
    width: 20%;
    height: 25%;
    padding: 1em;
    margin-bottom: 2em;
    margin-right: 1%;
    margin-left: 1%;
    transition: width 1s, height 1s;
}
.ol:hover {
    width: 22%;
    height: 22%;
  }
.ol p{
    color: white;
    display: inline;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 10px;
    margin-bottom: 5em;
}
.ol h3{
    color: white;
    display: inline;
}
.ol div{
    width: 50%;
}


.character-card{
    text-decoration: none;
    display: flex;
    flex-flow: row;
}

.input-container{
    margin-bottom: 1em;
}
#imgcharactercard{
    margin-top: 60%;
    width: 100%;
    max-height: 35%;

}
a{
    font-style: normal;
}
.button{
    background-color: hsl(233, 61%, 64%);
    color: white;
    text-decoration: double;
    width: 3em;
    height: 3em;
    margin-right: 1em;
    margin-top: 1em;
    border-radius: 100em;
    border: none;
    transition: width 1s, height 1s;

}
.button:hover {
    display: inline-block;
    background-color: hsl(144, 48%, 60%)!important;
    width: 3.5em;
    height: 3.5em;
  }

#type, #maininfo, #abilities, #statbase, #movements{
    background-color: white;
    display: block;
    border-radius: 0.5em;
    text-align: center;
    margin-bottom: 2em;
    padding: 1em;
    font-family: sans-serif;
    
}
#characterinfo{
    background-image: url("https://www.freeiconspng.com/uploads/pokemon-png-23.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-position-y: -1em;
    background-position-x: 5em;
    background-size: 19em;
    height:max-content;
    padding-top: 9em;
    padding: 5em;
    display: flex;
    flex-direction: row;
    
    
}
#cont1{
    margin-top: 5em;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}
#cont2{
    width: 100%;
    height: 4.5%;
    display: flex;
    flex-direction: row;
}
#type{
  width: 49%;
  margin-right: 1em;
  
}
#maininfo{
  height: 17%;
  width: 100%;
  margin-top: 4em;
  padding: 2em;

}
#movements{
  margin-top: 9em;
  width: 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#statbase{
  margin-top: 1em;
  width: 100%;
}
#abilities{
  width: 49%;
}
#pokemonimg{
    position: relative;
    height: 90%;
    width: auto;
    transform: translate(0px,-4em);
    
}
#type2{
  width: 35%;
  height: 45%;
  border-radius: 0.5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
    
}
#typee{
  height: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#maininfo1{
    margin-top: -2em;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.up{
    margin-top: -3em;
}
.lcolor{
    color: rgb(107, 107, 107);
    text-decoration-thickness: 10em;
}
#moveees{
    margin-bottom: 0.7em;
    margin-top: 0.1em;
    width: 60%;
    border-bottom: 1px solid rgb(224, 221, 221);
}
#titleh2{
    color: rgb(107, 107, 107);
    
}
#cont3{
    margin-top: 1em;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
#abilities,#type{
    height: 95%;
}
.abtieees{
    display: initial;
    padding: 0.8em;
    border: 1px solid rgb(207, 204, 204);
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.05em 0.06em rgb(167, 169, 169);
}
#pokemonlogoo{
    display: block;
    height: 7em;

}
/*Toggle button*/
:root {
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  .toggle-switch {
    position:relative;
    left: 60em;
    width: 7em;
  }
  
  #lbl {
    position: absolute;
    width: 100%;
    height: 2.5em;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
  }
  
  #inpt {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  #inpt:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 0.2em;
    left: 0.3em;
    width: 75px;
    height: 90%;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
  }
  
  #inpt:checked ~ .slider::before {
    transform: translateX(95px);
    background-color: var(--dark);
    box-shadow: none;
  }
  
